.qbert
{
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0;
}

.qbert > li
{
    box-sizing: border-box;
    position: absolute;
    display: block;
    padding: 25px 12px;
}

.qbert > li > *
{
    position: absolute;
    top: 0;
    left: 0;
}